@import "variaveis";

.blog-item {
  h5 {
    a {
      //color: $primaria;
      //text-align: center;
    }
  }
}

ul {
  li {
    .blog-item {
      p {
        text-align: justify;
        font-size: 0.8rem;
        line-height: 1.2rem;
      }
    }
  }
}