@import "variaveis";
@import "wordpress";

p {
  &.time {
    color: #2e2e2e;

    span {
      &.dia, &.mes {
        color: #2e2e2e;
      }

      &.mes {
        text-transform: capitalize;
      }

      //color: red;
    }
  }
}

.inner-banner {
  h2 {
    color: #fff;
    font-size: 2rem;
  }
}

ul {
  li {
    .blog-item {
      p {
        text-align: justify;
        font-size: 0.8rem;
        line-height: 1.2rem;
      }
    }
  }
}

.blog-content {
  .blog-item {
    h5, .title {
      font-weight: 500;
      font-size: 22px !important;
      line-height: 1.2em !important;

      a {
        color: $cinza_titulo;

        &:hover, &:focus, &:active {
          color: lighten($cinza_titulo, 10%);
        }
      }
    }
  }

  .blog-pic {
    position: relative;

    .post-meta {
      font-size: 12px;
      line-height: 1.2rem;
      color: #FFF;
      background: #00a0d2;
      padding: 5px 10px;
      border-radius: 5px;
      position: absolute;
      bottom: -15px;
      left: 15px;
    }
  }
}

@media (max-width: 800px) {
  .autor-artigo{
    padding: 50px 0px;
  }
}
